@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.card
{
	position: relative;
	width: 350px;
	height: 190px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 35px 80px rgba(0,0,0,0.15);
	transition: 0.5s;
}
.card:hover
{
	height: 450px;
}
.imgbx
{
	position: absolute;
	left: 50%;
	top: -50px;
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	transition: 0.5s;
}
.imgbx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card:hover .imgbx
{
	width: 250px;
	height: 250px;
}
.card .content
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}
.card .content .details
{
	padding: 40px;
	text-align: center;
	width: 100%;
	transition: 0.5s;
	transform: translateY(150px);
}
.card:hover .content .details
{
	transform: translateY(0px);
}
.card .content .details h2
{
	margin-top: -150px ;
	font-size: 1.25em;
	font-weight: 600;
	color: #555;
	line-height: 1.2em;
}
.card .content .details .actionbtn
{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.card .content .details .actionbtn button
{
	padding: 10px 30px;
	border-radius: 5px;
	border: none;
	outline: none;
	font-size: 1em;
	font-weight: 500;
	background: #ff5f95;
	color: #fff;
	cursor: pointer;
}